#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #016450; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #02818a; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #3690c0; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #67a9cf; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #a6bddb; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d0d1e6; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f6eff7; fill-opacity: 1.0; }
