#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #a6a6a6; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #edf8fb; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ccece6; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #99d8c9; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #66c2a4; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #41ae76; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #238b45; fill-opacity: 1.0; }
.l0r7 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #005824; fill-opacity: 1.0; }
.l1r0 { pointer-events: none; stroke: #e8272c; stroke-width: 5.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #e8272c; fill-opacity: 1.0; }
