#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #762a83; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #af8dc3; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #e7d4e8; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f7f7f7; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d9f0d3; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #9ccc96; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #56a65c; fill-opacity: 1.0; }
.l0r7 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill: #1b7837; fill-opacity: 1.0; }
