#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #2b83ba; fill-opacity: 1.0; }
.l0r1 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #80bfac; fill-opacity: 1.0; }
.l0r2 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c7e9ad; fill-opacity: 1.0; }
.l0r3 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ffffbf; fill-opacity: 1.0; }
.l0r4 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fec980; fill-opacity: 1.0; }
.l0r5 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f17c4a; fill-opacity: 1.0; }
.l0r6 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #e8272c; fill-opacity: 1.0; }
.l1r0 { pointer-events: none; stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0; }
