#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d7191c; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f07c4a; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fdc980; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ffffc0; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c3e586; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #77c25c; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 0.46; stroke-opacity: 1.0; stroke-dasharray: ; fill: #1a9641; fill-opacity: 1.0; }
