#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #a6a6a6; fill-opacity: 1.0; }
.l0r1 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fef0d9; fill-opacity: 1.0; }
.l0r2 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fed49a; fill-opacity: 1.0; }
.l0r3 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fda66d; fill-opacity: 1.0; }
.l0r4 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f2724a; fill-opacity: 1.0; }
.l0r5 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #da3b28; fill-opacity: 1.0; }
.l0r6 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #b30000; fill-opacity: 1.0; }
.l1r0 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0; pointer-events: none;}
