#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #b9b8b9; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fef0d9; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fdd8a4; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fcb779; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fc8d59; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #eb603f; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d33121; fill-opacity: 1.0; }
.l0r7 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #b30000; fill-opacity: 1.0; }
