#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #a6a6a6; fill-opacity: 1.0; }
.l0r1 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #2166ac; fill-opacity: 1.0; }
.l0r2 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #67a9cf; fill-opacity: 1.0; }
.l0r3 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #d1e5f0; fill-opacity: 1.0; }
.l0r4 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f7f7f7; fill-opacity: 1.0; }
.l0r5 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #fddbc7; fill-opacity: 1.0; }
.l0r6 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ef8a62; fill-opacity: 1.0; }
.l0r7 { stroke: #666666; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #b2182b; fill-opacity: 1.0; }
.l1r0 { stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0;pointer-events: none;}
