#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #f2f0f7; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #dadaeb; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #bcbddc; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #9e9ac8; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #807dba; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #6a51a3; fill-opacity: 1.0; }
.l0r6 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #4a1486; fill-opacity: 1.0; }