#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #253494; fill-opacity: 1.0; }
.l0r1 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #2c7fb8; fill-opacity: 1.0; }
.l0r2 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #41b6c4; fill-opacity: 1.0; }
.l0r3 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #7fcdbb; fill-opacity: 1.0; }
.l0r4 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c7e9b4; fill-opacity: 1.0; }
.l0r5 { stroke: #a6a6a6; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #ffffcc; fill-opacity: 1.0; }
.l1r0 { pointer-events: none; stroke: #000000; stroke-width: 2.0; stroke-opacity: 1.0; stroke-dasharray: ; fill-opacity: 0.0; }
