#mapSvg{background-color: #ffffff;}
.l0r0 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #edf8e9; fill-opacity: 1.0; }
.l0r1 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #c7e9c0; fill-opacity: 1.0; }
.l0r2 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #a1d99b; fill-opacity: 1.0; }
.l0r3 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #74c476; fill-opacity: 1.0; }
.l0r4 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #31a354; fill-opacity: 1.0; }
.l0r5 { stroke: #000000; stroke-width: 0.5; stroke-opacity: 1.0; stroke-dasharray: ; fill: #006d2c; fill-opacity: 1.0; }
